<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Medcare Medical</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script>
        var accept = function(id){
            document.getElementById(id).innerHTML = 'accepted';
        }
    </script>
</head>
<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <%- include('header.ejs') %>
    </header>
    <!--================Header Menu Area =================-->


    <!--================Home Banner Area =================-->
    <!--================End Home Banner Area =================-->


     
    <!--================ Team section start =================-->  
    <section class="team-area area-padding">
        <div class="container">
            <% if(locals.results && results.length != 0){ %>
                <table style="border-collapse: collapse; width: 100%;">
                    <tr>
                        <th>Sr.</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <% for(i=0; i < (results.length); i++){ %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= results[i].fullname %></td>
                            <td><%= results[i].email %></td>
                            <td><%= results[i].mobile %></td>
                            <td><%= results[i].date %></td>
                            <td> <a href='#' onclick="accept(this.id)" id="accept<%= i %>" class="main_btn accept">Accept</a> </td>
                            <td> <a href='/reject?id=<%= results[i]._id %>' class="main_btn">Reject</a> </td>
                        </tr>
                    <% }; %> 
                </table>
            <% }else{ %>
                <div style="width: 100%; color: red; border: 2px solid red; border-radius: 5px;">You don't have any pending appointment.</div>
            <% } %>
        </div>
    </section>
    <!--================ Team section end =================-->  



        <!-- ================ Hotline Area Starts ================= -->  
        <section class="hotline-area text-center area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Emergency hotline</h2>
                        <span>(+01) – 256 567 550</span>
                        <p class="pt-3">We provide 24/7 customer support. Please feel free to contact us <br>for emergency case.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- ================ Hotline Area End ================= --> 


        

        <!--================ Start Brands Area =================-->
        <section class="brands-area background_one">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="owl-carousel brand-carousel">
                            <!-- single-brand -->
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell">
                                    <img src="img/brand/1.png" alt="">
                                </div>
                            </div>
                            <!-- single-brand -->
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell">
                                    <img src="img/brand/2.png" alt="">
                                </div>
                            </div>
                            <!-- single-brand -->
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell">
                                    <img src="img/brand/3.png" alt="">
                                </div>
                            </div>
                            <!-- single-brand -->
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell">
                                    <img src="img/brand/4.png" alt="">
                                </div>
                            </div>
                            <!-- single-brand -->
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell">
                                    <img src="img/brand/5.png" alt="">
                                </div>
                            </div>
                            <!-- single-brand -->
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell">
                                    <img src="img/brand/3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ End Brands Area =================-->

        <!-- start footer Area -->
        <footer class="footer-area area-padding-top">
            <%- include('footer.ejs') %>
        </footer>
        <!-- End footer Area -->






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/theme.js"></script>
    <script>
        $(function(){
            $('#header').load('header.html');
        });

        $(function(){
            $('#footer').load('footer.html');
        });
    </script>
</body>
</html>