<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Medcare Medical</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/animate-css/animate.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
  </head>
  <body>
    <!--================Header Menu Area =================-->
    <header class="header_area"><%- include('header.ejs') %></header>
    <!--================Header Menu Area =================-->

    <!--================Home Banner Area =================-->

    <section class="banner-area d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 col-xl-5">
            <% if(locals.status && status == 'done'){ %>
              <span style="color: green; border: 2px solid green; border-radius: 5px;">Appointment Booked Successfully :)</span>
            <% } %>
            <h1>
              Making Health<br />
              Care Better Together
            </h1>
            <p>
              Also you dry creeping beast multiply fourth abundantly our itsel
              signs bring our. Won form living. Whose dry you seasons divide
              given gathering great in whose you'll greater let livein form
              beast sinthete better together these place absolute right.
            </p>
            <div id="pred" role="alert"></div>
            <div class="form-group"></div>
            <% if(locals.type){ %>
              <% if(type != 'doctor'){ %>
              <div class="create-blog content">
                <select
                  id="symptom1"
                  class="form-select"
                  aria-label="Default select example"
                >
                  <option selected>Select Primary Symptom</option>
                  <% for(i=0;i<(symptom1.length);i++) { %>
                  <option value="<%= i %>"><%= symptom1[i] %></option>
                  <% }; %></select
                ><br />
                <select
                  id="symptom2"
                  class="form-select mt-10"
                  aria-label="Default select example"
                >
                  <option selected>Select Secondary Symptom</option>
                  <% for(i=0;i<(symptom2.length);i++) { %>
                  <option value="<%= i %>"><%= symptom2[i] %></option>
                  <% }; %></select
                ><br />
                <select
                  id="symptom3"
                  class="form-select mt-10"
                  aria-label="Default select example"
                >
                  <option selected>Select Third Symptom</option>
                  <% for(i=0;i<(symptom3.length);i++) { %>
                  <option value="<%= i %>"><%= symptom3[i] %></option>
                  <% }; %></select
                ><br />
                <!-- <input type="text" placeholder="Enter disease"> -->
                <a href='doclist' class="main btn btn-primary mt-10" onclick="Submit()">
                  Diagnos Symptoms
                </a>
                <script>
                  function Submit() {
                    var s3 = document.getElementById("symptom3").value;
                    var s2 = document.getElementById("symptom2").value;
                    var s1 = document.getElementById("symptom1").value;
                    var data = { symptom1: s1, symptom2: s2, symptom3: s3 };
                    console.log(data);
                    var result = document.getElementById("pred");
                    fetch("http://127.0.0.1:8000/predict", {
                      method: "POST",
                      body: JSON.stringify(data),
                    })
                      .then((response) => response.json())
                      .then((data) => {
                        console.log(data.prediction);
                        result.innerHTML =
                          "You have <b style='color:red'>" +
                          data.prediction +
                          "</b>";
                      })
                      .catch((error) => {
                        console.log(error);
                      });
                  }
                </script>
              </div>  
              <% } %>
            <% } %>
            
            <!-- <a href="" class="main_btn_light">View Department</a> -->
          </div>
        </div>
      </div>
    </section>

    <!--================End Home Banner Area =================-->

    <!--================ Feature section start =================-->
    <section class="feature-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-feature text-center text-lg-left">
              <h3 class="card-feature__title">
                <span class="card-feature__icon">
                  <i class="ti-layers"></i> </span
                >Primary Care
              </h3>
              <p class="card-feature__subtitle">
                An so vulgar to on points wanted rapture ous resolving continued
                household
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-feature text-center text-lg-left">
              <h3 class="card-feature__title">
                <span class="card-feature__icon">
                  <i class="ti-heart-broken"></i> </span
                >Emergency Cases
              </h3>
              <p class="card-feature__subtitle">
                An so vulgar to on points wanted rapture ous resolving continued
                household
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-feature text-center text-lg-left">
              <h3 class="card-feature__title">
                <span class="card-feature__icon">
                  <i class="ti-headphone-alt"></i> </span
                >Online Appointment
              </h3>
              <p class="card-feature__subtitle">
                An so vulgar to on points wanted rapture ous resolving continued
                household
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Feature section end =================-->

    <!--================ Service section start =================-->

    <div class="service-area area-padding-top">
      <div class="container">
        <div class="area-heading row">
          <div class="col-md-5 col-xl-4">
            <h3>
              Awesome<br />
              Health Service
            </h3>
          </div>
          <div class="col-md-7 col-xl-8">
            <p>
              Land meat winged called subdue without very light in all years sea
              appear midst forth image him third there set. Land meat winged
              called subdue without very light in all years sea appear
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
              <span class="card-service__icon">
                <i class="flaticon-brain"></i>
              </span>
              <h3 class="card-service__title">Neurology Service</h3>
              <p class="card-service__subtitle">
                Land meat winged called subdue without a very light in all years
                sea appear Lesser bring fly first land set female best perform.
              </p>
              <a class="card-service__link" href="#">Learn More</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
              <span class="card-service__icon">
                <i class="flaticon-tooth"></i>
              </span>
              <h3 class="card-service__title">Dental Clinic</h3>
              <p class="card-service__subtitle">
                Land meat winged called subdue without a very light in all years
                sea appear Lesser bring fly first land set female best perform
              </p>
              <a class="card-service__link" href="#">Learn More</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
              <span class="card-service__icon">
                <i class="flaticon-face"></i>
              </span>
              <h3 class="card-service__title">Plastic Surgery</h3>
              <p class="card-service__subtitle">
                Land meat winged called subdue without a very light in all years
                sea appear Lesser bring fly first land set female best perform
              </p>
              <a class="card-service__link" href="#">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================ Service section end =================-->

    <!--================About  Area =================-->
    <section class="about-area">
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-md-10 offset-md-1 col-lg-6 offset-lg-6 offset-xl-7 col-xl-5"
          >
            <div class="about-content">
              <h4>
                Second Abundantly<br />
                Move That Cattle Perform<br />
                Appen Land
              </h4>
              <h6>
                Give their their without moving were stars called so divide in
                female be moving night may fish him
              </h6>
              <p>
                Give their their without moving were stars called so divide
                female be moving night may fish him own male vreated great Give
                their their without moving were. Stars called so divide female
                moving night may fish him own male created great opportunity
                deal.
              </p>

              <a class="link_one" href="#">learn more</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================About Area End =================-->

    <!--================ Team section start =================-->
    <section class="team-area area-padding">
      <div class="container">
        <div class="area-heading row">
          <div class="col-md-5 col-xl-4">
            <h3>
              Medcare<br />
              Experience Doctors
            </h3>
          </div>
          <div class="col-md-7 col-xl-8">
            <p>
              Land meat winged called subdue without very light in all years sea
              appear midst forth image him third there set. Land meat winged
              called subdue without very light in all years sea appear
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card card-team">
              <img class="card-img rounded-0" src="img/team/1.jpg" alt="" />
              <div class="card-team__body text-center">
                <h3><a href="#">Dr Adam Brain</a></h3>
                <p>Cardiologist</p>
                <div class="team-footer d-flex justify-content-between">
                  <a class="dn_btn" href=""
                    ><i class="ti-mobile"></i>+7 235 365 2365</a
                  >
                  <ul class="card-team__social">
                    <li>
                      <a href="#"><i class="ti-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-twitter-alt"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-skype"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card card-team">
              <img class="card-img rounded-0" src="img/team/2.jpg" alt="" />
              <div class="card-team__body text-center">
                <h3><a href="#">Dr Blian Judge</a></h3>
                <p>Cardiologist</p>
                <div class="team-footer d-flex justify-content-between">
                  <a class="dn_btn" href=""
                    ><i class="ti-mobile"></i>+7 235 365 2365</a
                  >
                  <ul class="card-team__social">
                    <li>
                      <a href="#"><i class="ti-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-twitter-alt"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-skype"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card card-team">
              <img class="card-img rounded-0" src="img/team/3.jpg" alt="" />
              <div class="card-team__body text-center">
                <h3><a href="#">Dr Blian Judge</a></h3>
                <p>Cardiologist</p>
                <div class="team-footer d-flex justify-content-between">
                  <a class="dn_btn" href=""
                    ><i class="ti-mobile"></i>+7 235 365 2365</a
                  >
                  <ul class="card-team__social">
                    <li>
                      <a href="#"><i class="ti-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-twitter-alt"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ti-skype"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Team section end =================-->

    <!--================ appointment Area Starts =================-->

    <!-- ================ testimonial section end ================= -->

    <!-- ================ Hotline Area Starts ================= -->
    <section class="hotline-area text-center area-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Emergency hotline</h2>
            <span>(+01) – 256 567 550</span>
            <p class="pt-3">
              We provide 24/7 customer support. Please feel free to contact us
              <br />for emergency case.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ Hotline Area End ================= -->

    <!--================ Start Blog Area =================-->
    <section class="blog-area area-padding">
      <div class="container">
        <div class="area-heading row">
          <div class="col-md-5 col-xl-4">
            <h3>
              Get Every<br />
              Single Update Here
            </h3>
          </div>
          <div class="col-md-7 col-xl-8">
            <p>
              Land meat winged called subdue without very light in all years sea
              appear midst forth image him third there set. Land meat winged
              called subdue without very light in all years sea appear
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 col-md-4">
            <div class="single-blog">
              <div class="thumb">
                <img class="img-fluid" src="img/blog/1.jpg" alt="" />
              </div>
              <div class="short_details">
                <div class="meta-top d-flex">
                  <a href="#">medical, </a>
                  <a href="#">dental, </a>
                  <a href="#">health</a>
                </div>

                <a class="d-block" href="single-blog.html">
                  <h4>
                    Hath is gathering from hath greate gan man lights evening
                    man.
                  </h4>
                </a>
                <div class="meta-bottom d-flex">
                  <a href="#"><i class="ti-comments"></i>08 comment</a>
                  <a href="#"><i class="ti-heart"></i> 0 like</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-md-4">
            <div class="single-blog">
              <div class="thumb">
                <img class="img-fluid" src="img/blog/2.jpg" alt="" />
              </div>
              <div class="short_details">
                <div class="meta-top d-flex">
                  <a href="#">medical, </a>
                  <a href="#">dental, </a>
                  <a href="#">health</a>
                </div>
                <a class="d-block" href="single-blog.html">
                  <h4>
                    Also good after there saying don third you be careful every
                    man
                  </h4>
                </a>
                <div class="meta-bottom d-flex">
                  <a href="#"><i class="ti-comments"></i>05 comment</a>
                  <a href="#"><i class="ti-heart"></i> 0 like</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-md-4">
            <div class="single-blog">
              <div class="thumb">
                <img class="img-fluid" src="img/blog/3.jpg" alt="" />
              </div>
              <div class="short_details">
                <div class="meta-top d-flex">
                  <a href="#">medical, </a>
                  <a href="#">dental, </a>
                  <a href="#">health</a>
                </div>
                <a class="d-block" href="single-blog.html">
                  <h4>
                    Also good after there saying don third you be careful every
                    man
                  </h4>
                </a>
                <div class="meta-bottom d-flex">
                  <a href="#"><i class="ti-comments"></i>05 comment</a>
                  <a href="#"><i class="ti-heart"></i> 0 like</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Blog Area =================-->

    <!--================ Start Brands Area =================-->
    <section class="brands-area background_one">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="owl-carousel brand-carousel">
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="img/brand/1.png" alt="" />
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="img/brand/2.png" alt="" />
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="img/brand/3.png" alt="" />
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="img/brand/4.png" alt="" />
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="img/brand/5.png" alt="" />
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="img/brand/3.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Brands Area =================-->

    <!-- start footer Area -->
    <footer class="footer-area area-padding-top">
      <%- include('footer.ejs') %>
    </footer>
    <!-- End footer Area -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/theme.js"></script>
    <script>
      $(function () {
        $("#header").load("header.html");
      });

      $(function () {
        $("#footer").load("footer.html");
      });
    </script>
  </body>
</html>
